
body {
    outline: 2px solid black;     
}

.index-page {
    outline: 1px solid pink;     
}

/*
    header
*/

.index-header {
    outline: 1px solid red;     

}

.medium-alike {
    outline: 1px solid blue;     
}

/*
    main of the main page
*/

.index-main {
    outline: 1px solid black; 
}

.index-main-header {
    outline: 1px solid palegreen; 
}

.index-main-header-text {
    outline: 1px solid palevioletred; 
}

.news-list {
    outline: 3px dotted rgb(112, 216, 162); 
}

.news-item {
    outline: 1px solid rgb(124, 112, 216); 
}

.article {
    outline: 1px solid red;
}

.article-main-part {
    outline: 1px solid orange;
}

.article-info {
    outline: 1px solid olive;
}

.article-content {
    outline: 1px solid lightpink;
}

.author-name {
    outline: 1px solid gray;
}

.in {
    outline: 1px solid lightseagreen;
}

.topic-name {
    outline: 1px solid purple;
}

.publish-date {
    outline: 1px solid aqua;    
}

.article-additional-info {
    outline: 1px solid blue;
}

.hashtags {
    outline: 1px solid pink;
}

.hash-button {
    outline: 1px solid rebeccapurple;        
}

.required-time {
    outline: 1px solid red;
}

.delimeter {
    outline: 1px solid green;
}

.appeal {
    outline: 1px solid tomato;
}

.actions-list {
    outline: 1px solid khaki;
}

/*
    footer
*/

.page-footer {
    outline: 1px dotted lightcoral; 
}

.credits-container {
    outline: 1px solid blue;          
}

.credits {
    outline: 1px solid red;          
}

.copyright-container {
    outline: 1px solid pink;    
}

.copyright {
    outline: 1px solid green;      
}

/*
    main of the article page
*/ 
.article-main {
    outline: 1px solid black; 
}

.article-main-header {
    outline: 1px solid palegreen; 
}

.link-to-main-page {
    outline: 1px solid palevioletred;    
}

.article-container {
    outline: 1px solid blue;   
}

.article-content {
    outline: 1px solid purple;  
}

.article-info-top {
    outline: 1px solid lawngreen; 
}

.article-info-top-left-panel {
    outline: 1px solid black; 
}

.article-info-top-right-panel {
    outline: 1px solid hotpink; 
}

.article-header-container {
    outline: 1px solid red; 
}

.article-subheader-container {
    outline: 1px solid teal; 
}

.article-text  {
    outline: 1px solid black; 
}

.article-info-bottom {
    outline: 1px solid black; 
}

.article-info-bottom-left {
    outline: 1px solid indianred; 
}

.article-likes-container {
    outline: 3px dashed lawngreen; 
}

.article-likes-image-container {
    outline: 2px dashed blue; 
}

.article-likes-count-container {
    outline: 1px dashed orange; 
}

.article-likes-count {
    outline: 2px dashed orchid; 
}

.article-comments-container {
    outline: 1px dashed lawngreen;
}

.article-comments-image-container {
    outline: 1px dashed blue 
}

.article-comments-count-container {
    outline: 2px dashed black; 
}

.article-comments-count {
    outline: 2px dashed green; 
}

.article-info-bottom-right {
    outline: 2px dashed black; 
}

.article-empty-container {
    outline: 1px solid rebeccapurple; 
}

.article-bookmark-image-container {
    outline: 2px dashed blue; 
}

